{
  "babel": {
    "presets": [
      "react-app"
    ],
    "plugins": [
      "@babel/plugin-transform-private-methods",
      "@babel/plugin-transform-nullish-coalescing-operator",
      "@babel/plugin-transform-class-properties",
      "@babel/plugin-transform-numeric-separator",
      "@babel/plugin-transform-optional-chaining",
      "@babel/plugin-transform-private-property-in-object"
    ]
  }
}