# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
# macOS
.DS_Store

# misc
.env.test.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE-specific files
.vscode


Miniforge3-MacOSX-arm64.sh
.venv
/cache
build_dashboard.txt
/node_modules
/genaisrc
/.genaiscript

/.git

# Environment Variables
.env.local
.env.local
.env.development.local
.env.test.local
.husky
.env
new_venv
dist

