/* index.css */
:root {
  --primary-bg-light: #fafafa;
  --primary-bg-dark: #121212;
  --text-light: #333;
  --text-dark: #fff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-bg-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: var(--primary-bg-dark);
  color: var(--text-dark);
}